<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <!--O id identifica seu plugin globalmente. Deve ser único, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter ao menos 5 caracteres e um máximo de 40. Uma vez definido o ID, você não deve alterar ele ;) -->
    <id>GURPS_Alterion</id>
    <!--version é a versão do seu plugin. Quando for lançar uma nova versão do seu módulo, altere aqui =) -->
    <version>1.0</version>
    <name>GURPS 4e com soma de pontos</name>
    <description>Ficha de GURPS com soma de pontos e rolagem de dados.</description>
    <author>psydraco</author>
    <site/>
    <contact/>
</module>
